/* Reset Stylesheet */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }
/* End of Reset Stylesheet */

ol, ul {
    list-style: none outside none;
}
ol {
    list-style-type: decimal;
}

h1, h2, h3, h4, h5, h6 {
    color: #453630;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    line-height: 130%;
    margin: 1.4em 0 0.6em;
}

a {
    color: #834202;
    outline: medium none;
    text-decoration: none;
}
a:hover {
    color: #000000;
    text-decoration: none;
}

body {
	color: #62615C;
	font: 14px/1.5em Helvetica, Arial, sans-serif;
	background-color: #E8DEAD;
	background-size: 5px 5px;
    background-image: 
		-moz-linear-gradient(0deg, transparent 100%, white 50%),
		-moz-linear-gradient(-45deg, rgba(255, 255, 255, .3) 25%, transparent 25%,
			transparent 50%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 75%,
			transparent 75%, transparent);
	background-image: 
		-o-linear-gradient(0deg, transparent 100%, white 50%),
		-o-linear-gradient(-45deg, rgba(255, 255, 255, .3) 25%, transparent 25%,
			transparent 50%, rgba(255, 255, 255, .3) 50%, rgba(255, 255, 255, .3) 75%,
			transparent 75%, transparent);
	background-image: 
		-webkit-gradient(linear, 100% 0, 100% 0, color-stop(.5, transparent), color-stop(.5, white)),
		-webkit-gradient(linear, 0 100%, 100% 0,
			color-stop(.25, rgba(255, 255, 255, .3)), color-stop(.25, transparent),
			color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .3)),
			color-stop(.75, rgba(255, 255, 255, .3)), color-stop(.75, transparent),
			to(transparent));
}
	
#wrapper {
	z-index: 0;
	overflow: auto;
	padding: 0 40px 20px;
	max-width: 960px;
	min-height: 500px;
	position: relative;
	background: #f4f4f4;
	margin: 15px auto 0 auto;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
	
#site-header {
    z-index: 20;
	width: 180px;
	position: fixed;
	text-align: right;
	padding-top: 50px;
}

#site-logo {
	margin: 0 0 10px;
	text-shadow: 0 2px 0 #FCF9EE, 0 4px 0 rgba(0, 0, 0, 0.15);
    font: bold 32px/100% Georgia,"Times New Roman",Times,serif;
}
#site-logo a {
    color: #886C4D;
    text-decoration: none;
}
#site-logo a:hover {
    color: #000000;
}

#site-description {
    color: #886C4D;
    margin: 0 0 10px;
    padding: 0 0 10px 2px;
    font: italic 16px/120% "Times New Roman",Times,serif;
}

#site-nav a {
    color: #886C4D;
    line-height: 200%;
}
#site-nav a:hover {
    color: #000000;
}

#site-header input[type="text"] {
    width: 140px;
    color: #886C4D;
    margin: 0.5em 0;
    vertical-align: middle;
    border: 1px solid #886C4D;
    padding: 0.5em 0.5em 0.3em;
	border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 1px #999999 inset;
    background: none repeat scroll 0 0 #F4F4F4;
	font: italic 100%/105% Georgia,"Times New Roman",Times,serif;
}
#site-header input[type="text"]:focus {
    color: #000000;
	font-style: normal;
    outline: medium none;
	background: none repeat scroll 0 0 #FFFFFF;
}

#social-links {
	margin-top: 20px;
	padding-top: 10px;
	font-size: 0.8em;
	border-top: 1px dashed #CCC;
}

#content {
	position: relative;
	padding: 30px 20px 50px 225px;
}

#content article {
    margin-bottom: 4em;
}

#content .date {
    color: #CCCCCC;
    display: block;
	text-align: right;
	margin-bottom: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
	border-bottom: 1px solid #CCCCCC;
}

#content header{
	margin-bottom: 2em;
}

#content h2 {
    font-size: 1.4em;
    line-height: 1.1em;
    margin: 0.25em 0 0.75em;
	font-family: Georgia,"Times New Roman",Times,serif;
}
#content h2.title {
    margin: 0.8em 0 0.75em;
	font: bold 32px/100% Georgia,"Times New Roman",Times,serif;
}
#content h3 {
    font-size: 1.2em;
	border-bottom: 1px dashed #CCCCCC;
}
#content h4 {
    font-size: 1.1em;
}

#content a, a:visited, a:active {
    color: #174069;
    text-decoration: underline;
}
#content a:hover {
    color: #336699;
    text-decoration: none;
}

div.highlight {
	overflow: auto;
    line-height: 16px;
	padding: 0.5em 0.5em;
	border: 1px dotted #62615C;
}

p, ul, ol, blockquote {
    margin: 0.7em 0 0.7em;
}

p.nomargin {
    margin: 0;
}

#content ul {
    list-style: square outside none;
}
#content ul, #content ol, #content blockquote {
    padding: 0 2em;
}

#content footer {
    color: #999999;
	margin-top: 2em;
    font-size: 0.8em;
    text-align: right;
}

#content strong {
	font-weight: bold;
}
#content em {
	font-style: italic;
}
#content small {
	font-size: 0.8em;
}
#content blockquote {
	color: #666666;
	font-style: italic;
}
#content code {
	font-family: verdana;
	font-weight: bold;
}

#content div.article p.figure-full img {
    max-width: 100%;
}
#content img {
    max-width: 100%;
}

#pagination #prev {
    margin-right: 2em;
}
#pagination a, #pagination a:visited, #pagination a:active {
    font-weight: bold;
    text-decoration: none;
}

#site-footer {
	font-size: 0.7em;
    margin: 0 auto;
    max-width: 960px;
	color: #000000;
	line-height: 3em;
}
#site-footer a {
	color: #886C4D;
}
#site-footer a:hover, #site-footer a:focus, #site-footer a:active {
    color: #000000;
}
#site-footer #copyright {
	float: left;
}

#site-footer #validation {
	float: right;
}

.content-header {
	margin-top: 1.8em;
	border-bottom: 1px solid #CCCCCC;
}
.content-header h2 {
	display: inline; 
}
.content-header a {
    float: right;
}

#picasa-albums {
	padding-top: 35px;
}
.album {
    border: 1px solid #CCCCCC;
    display: inline;
    float: left;
    margin: 0 0 25px 25px;
    padding: 8px;
    text-align: center;
}

#gallery {
	margin:28px 0 0 0;
	text-align:center;
}
ul#gallery {
	list-style:none;
}
#gallery li	{
	background:#EAE9E6;
	background:rgba(0,0,0,0.05);
	border:1px solid #D1D1CE;
	border-color:rgba(0,0,0,0.1);
	margin:20px 40px;
	padding:9px;
	width:220px;
	-moz-border-radius:5px;
	border-radius:5px;
	display:inline-block;
}
#gallery h3	{
	font-size:1em;
	text-align:center;
	text-transform:uppercase;
	margin:8px 0 2px 0;
	border-bottom: none;
}
#gallery .readmore {
	float:right;
	margin:-20px 0 0 0;
}

/* Media queries for responsiveness */
@media screen and (max-width: 650px) {
	body {	
		font-size: 95%;
	}
	#wrapper {
		padding: 0 10px;
	}
	#site-header {	
		width: 100%;
		position: static;
		padding-top: 20px;
		text-align: center;
	}
	#site-logo {	
		margin: 0 0 15px 0;
	}
	#site-logo a {	
		margin: 0 auto;
	}
	#site-description {
		display: none;
	}
	#site-nav ul {	
		margin: 0 0 15px 0;
		font-size: .8em;
	}
	#site-nav ul li, 
	#site-nav ul li a {	
		display: inline;
	}
	#site-nav ul li a {	
		margin-right: 5px;
	}
	#social-links {	
		display: none;
	}
	#content {	
		width: 100%;
		padding: 20px 0 50px 0;
	}
}
/* End of Media Queries */

/* Print */
@media print {
	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
	-ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
	a, a:visited { color: #444 !important; text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
	tr, img { page-break-inside: avoid; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3{ page-break-after: avoid; }

	#site-header { display: none; }
	#disqus_thread { display: none; }
	.dsq-brlink { display: none; }
	#content { padding: 0; }
	#wrapper { box-shadow: none; }
	div[class*="pygments_"] { border: none; }
}
/* End of Print */

#tag_cloud{margin-top: 1em;margin-bottom: 1em;}
#tag_cloud a:hover{color:#333333 !important;text-decoration:none;}
.listing-item,.listing-seperator{list-style-type:none;}
.listing-item a{padding:.2em 1em;}
.listing-item time{color:#999999;}
.listing-seperator{font-weight:bold;margin-top: 1em;}
